body{
background-image: url('farm.jpg');

}
.signForm{
padding: 3px;
margin-top: 2%;
background-color: rgba(255,255,255,0.5);
box-shadow: 5px 5px 2px #ECEFF1;
}
h2{
text-align: center;
}
.submitButton{
width: 100%;

}
.heading1,.btn-danger{
  display: inline;
}
.btn-danger{
  margin-left: 80%;
  font-size: 15px;
  margin-top: 1%;
}
Table{
  margin-top: 3%;
  color: black;
  background-color: rgba(255,255,255,0.5);
}
th{
  font-size: 20px;
}
