  body{
  background-image: url('farm.jpg');

}
.signForm{
  padding: 3px;
  margin-top: 6%;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 5px 5px 2px #ECEFF1;
}
h2{
  text-align: center;
}
.submitButton{
  width: 100%;

}
